<div id="conteneur">
<h1>Studio Ghibulo</h1>
<p>Discover a world of fantasy and adventure</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://c4.wallpaperflare.com/wallpaper/892/692/922/howl-s-moving-castle-studio-ghibli-fantasy-art-clouds-daylight-hd-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c4.wallpaperflare.com/wallpaper/158/774/427/anime-studio-ghibli-spirited-away-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c4.wallpaperflare.com/wallpaper/540/125/295/anime-studio-ghibli-landscape-house-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/27/d9/db/27d9dbe36a16dfe3729bf6ce20cbb75e.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
